header.header
	.container
		.logo
			a(class="logo__link" href="index.html")
				img(class="logo__img" src="static/images/general/main-logo.png" alt="Книги")
		nav.nav-header
			.nav-header__btn
				span
			ul.nav-header__list
				li.nav-header__item
					a(href="index.html" class="nav-header__link")
						i.fa.fa-book
						|1 класс
				li.nav-header__item
					a(href="2-klass.html" class="nav-header__link")
						i.fa.fa-book
						|2 класс
				li.nav-header__item
					a(href="3-klass.html" class="nav-header__link")
						i.fa.fa-book
						|3 класс
				li.nav-header__item
					a(href="4-klass.html" class="nav-header__link")
						i.fa.fa-book
						|4 класс
				li.nav-header__item
					a(href="metodika.html" class="nav-header__link")
						i.fa.fa-book
						|Методика
				li.nav-header__item
					a(href="other.html" class="nav-header__link")
						i.fa.fa-book
						|Другие книги
				li.nav-header__item.mark
					a(href="komplekt.html" class="nav-header__link mark")
						i.fa.fa-book
						|Комплекты