.header__basket-min
section.section.section-dostavka
	.container
		h1.main-title Доставка
		.section__row
			h4.dostavka-info
				|Доставляем книги по России и во все страны мира по выгодным тарифам.
			h4.dostavka-info
				|Стоимость доставки в ваш регион вам сообщит менеджер после оформления заказа.
			h4.dostavka-info
				|Наши книги практически невозможно купить в книжных магазинах.
.smart-basket__wrapper