.header__basket-min{
	// display:none!important;
	position:fixed;
	display:flex;	
	top:10px;
	right:10px;
	// border:2px solid green;
	border:2px solid rgba(9, 78, 9, 1);
	// background:rgba(11, 77, 2,0.5);
	background:rgba(12, 119, 12, 0.8);
	width: 70px;
	height: 70px;
	border-radius:50%;
	transition:0.3s;
	z-index: 100;
	.smart-basket__min{
		margin:auto;
		// background:rgba(11, 77, 2,0.5);
		background:transparent;
		border-radius:50%;
		border:none;
		
			img.smart-basket__min-icon{
				fill:green;
				width: 40px!important;
				height:40px!important;
				cursor:pointer;
			}
			span.smart-basket__min-count{
				color:yellow;
				position:absolute;
				top: 10px;
				right: 10px;
				cursor:pointer;
		}
		
	}

}
.header__basket-min:hover{
	// background:rgba(11, 77, 2,0.7);
	background:rgba(12, 119, 12, 1);
	cursor:pointer;
}

.smart-basket{
	// color:$smartbasket_modal_color;
}

.smart-basket__delivery-title {
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.smart-basket__radio-input{
	margin-right: 10px;
	cursor:pointer;
}
.smart-basket__radio-input + label{	
	cursor:pointer;
}
#pikup {}

#delivery {
	margin-top: 20px;
}

#delivery + label + input {
	height: 0;
	transition: 0.3s;
	margin-top: 10px;
	border: none;
}

#delivery:checked + label + input {
	height: 60px;
	margin-top: 20px;
	border: 1px solid #e2e2e2;
}
@media(max-width:510px){
	.sp-form-fixed .sp-btn-close, .sp-form-popup .sp-btn-close {
		right: 0px!important;
	}
}
