.logo{
	height:100%;
	width:80px;
	// display:flex;
	display:inline-block;
	float:left;
	line-height:50px;
	.logo__link{
		display:inline-block;
		width: 80px;
		height: 100%;
		.logo__img{
			width: 80px;
			max-height:40px;
		height: 100%;
		}
	}
}
#scrolTop{
	width:50px;
	height: 50px;
	
	position: fixed;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
	border: 2px solid #094e09;
  background: rgba(12, 119, 12, 0.8);
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:10px;
	transition:0.3s;
}

#scrolTop::before {
	content: '▲';
	color:#fff;
	font-size:30px;
}
#scrolTop:hover{
background: #0c770c;
}