footer.footer
	.container
		.nav-footer
			ul.nav-footer__list
				li.nav-footer__item
					a(href="dostavka.html" class="nav-footer__link")
						i.fas.fa-truck
						|Доставка
				//- li.nav-footer__item
				//- 	a(href="#" class="nav-footer__link")
				//- 		i.fas.fa-phone
				//- 		|Телефон:
				//- 		span.phone-main 
				//- 			| +7-812-409-48-10
				li.nav-footer__item
					a(href="#" class="nav-footer__link")
						address
							i.fas.fa-envelope
							|Email:
							span.phone-main
								| admin@kramola-books.ru
				li.nav-footer__item
					small
						| ©
						time(datetime="2019-01-01") 2019
						|  kramola-books.ru
